:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000;
    --cor-texto: #343d48;
    --cor-primaira: #ce0bfa; 
    --cor-secundaria: #c000de;
    --dark-cor-secundaria: #9500ac;
    --terceira-cor: #e56fff;

    --font-family: 'DM Sans', sans-serif;
}   